@use 'variables' as *;
@use './mixins/font' as *;
@use './mixins/media' as *;
@use './mixins/reset' as *;
@use './mixins/support' as *;
@use './mixins/typography' as *;
@use './mixins/layout' as *;

@forward './mixins/font';
@forward './mixins/media';
@forward './mixins/reset';
@forward './mixins/support';
@forward './mixins/typography';
@forward './mixins/layout';

// --------------------------------------------------------
.root,
#root,
body {
	overflow: hidden;
}

@mixin font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@include font-smoothing;
	margin: 0;
	padding: 0;

	color: var(--color-black);
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	line-height: 1.8;
	font-weight: 400;
	background-color: var(--color-navy-ultra-light);
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

strong {
	font-weight: 700;
}

button {
	@include reset-button;
	cursor: pointer;
}

img {
	max-width: 100%;
}

h1 {
	font-weight: 400;
	font-size: 46px;
	margin: 0 0 20px 0;
	line-height: 56px;
	font-family: var(--font-family-heading);
}

h2 {
	font-size: 36px;
	line-height: 46px;
	margin: 0 0 20px 0;
	font-family: var(--font-family-heading);
}

h3 {
	font-size: 22px;
	line-height: 32px;
	font-weight: 400;
	margin: 0 0 20px 0;
	color: var(--color-navy-75-solid);
	font-family: var(--font-family-heading);
}

h4 {
	font-family: var(--font-family-heading);
}

a {
	color: var(--color-pink);
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition) color;

	@include hover {
		color: var(--color-pink);
		text-decoration: underline;
	}
}

p,
ol,
ul,
li,
ol {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: var(--color-off-black);
}

::selection {
	background-color: var(--color-pink);
	color: var(--color-white);
}

svg {
	width: 100%;
}
